/pkg/
/coverage/
/tmp/
/log/
/.bundle/
/*.gem
/node_modules/
/package-lock.json
/spec/dummy/log/
/spec/dummy/tmp/
/spec/dummy/storage/
/spec/dummy/db/*.sqlite3
/spec/dummy/db/*.sqlite3-*
!/app/assets/builds/changeset/.keep
.DS_Store
.idea/
.vscode/
*.swp